<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="TemplateEntities" connectionString="metadata=res://*/TemplateModel.csdl|res://*/TemplateModel.ssdl|res://*/TemplateModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CPOBLETE-NOT\DELOREAN;initial catalog=Template;User id=iconstruye;Password=Cuenta123!;integrated security=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="TemplateEntities" connectionString="metadata=res://*/TemplateModel.csdl|res://*/TemplateModel.ssdl|res://*/TemplateModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mssql6.gear.host;initial catalog=templates;User id=templates;Password=Xx2881D!~3tG;integrated security=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <!--Configuración Email SendGrid.-->
    <add key="ServidorSMTP" value="smtp.sendgrid.net" />
    <add key="PuertoSMTP" value="587" />
    <add key="UsaSSL" value="false" />
    <add key="UsuarioSMTP" value="carlosvpe" />
    <add key="PasswordSMTP" value="bU9cQkFdHxwdDw==" />
    <!--Fin Configuración Email SendGrid.-->
  </appSettings>
  <system.web>
    <!--<customErrors mode="On"></customErrors>-->
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <roleManager defaultProvider="CustomRoleProvider" enabled="true" cacheRolesInCookie="false">
      <providers>
        <add name="CustomRoleProvider" type="Template.Engine.Security.BaseRoleProvider" />
      </providers>
    </roleManager>
    <authorization>
      <allow users="anonymous" />
    </authorization>
    <authentication mode="Forms">
      <forms enableCrossAppRedirects="true" loginUrl="~/" slidingExpiration="true" timeout="1440"></forms>
    </authentication>
    <!--<sessionState mode="StateServer"></sessionState>-->
    <customErrors mode="Off" redirectMode="ResponseRedirect">
      <error statusCode="404" redirect="~/Home/Error404" />
    </customErrors>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>