/*#region Paleta de Aplicación. */
/*#endregion */
/*#region Fondo.*/
/*#endregion*/
/*#region Logo & User Picture.*/
img.logo {
  max-width: 140px;
}
/*#endregion*/
/*#region Botones. */
.btn.disabled {
  color: #ffffff !important;
}
/*#region btn-primary */
.btn-primary {
  background-color: #34495e;
  color: #ffffff;
}
.btn-group.open .btn-primary.dropdown-toggle,
.btn-primary:hover,
.btn-primary:focus {
  background-color: #222f3d;
}
.btn-primary.btn-outline {
  border: 1px solid #34495e;
  background-color: #ffffff;
  color: #34495e;
  font-weight: bold;
}
.btn-group.open .btn-primary.btn-outline.dropdown-toggle,
.btn-primary.btn-outline:hover,
.btn-primary.btn-outline:focus {
  background-color: #34495e !important;
  color: #ffffff !important;
}
/*#endregion */
/*#region btn-secondary */
.btn-secondary {
  background-color: #1abc9c;
  color: #ffffff;
}
.btn-group.open .btn-secondary.dropdown-toggle,
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #148f77;
  color: #ffffff;
}
.btn-secondary.btn-outline {
  border: 1px solid #1abc9c;
  background-color: #ffffff;
  color: #1abc9c;
  font-weight: bold;
}
.btn-group.open .btn-secondary.btn-outline.dropdown-toggle,
.btn-secondary.btn-outline:hover,
.btn-secondary.btn-outline:focus {
  background-color: #1abc9c !important;
  color: #ffffff !important;
}
/*#endregion */
/*#endregion */
/*#region Paneles. */
/*#region panel-primary. */
.panel-primary {
  border: 1px solid #34495e;
}
.panel-primary .panel-heading {
  color: #ffffff;
  background-color: #34495e;
  border-color: #34495e;
}
/*#endregion */
/*#region panel-secondary. */
.panel-secondary {
  border: 1px solid #1abc9c;
}
.panel-secondary .panel-heading {
  color: #ffffff;
  background-color: #1abc9c;
  border-color: #1abc9c;
}
/*#endregion */
/*#endregion */
/*#region Menú */
a#pin {
  background-color: #34495e;
}
div#menu {
  background-color: #34495e;
  border-right: 1px solid #34495e;
}
div#menu ul > li {
  border-left: 4px solid #34495e;
}
#barra .dropdown-menu > li > a:hover,
#barra .dropdown-menu > li > a:focus,
#barra .dropdown-menu > li > a:hover .text-danger,
#barra .dropdown-menu > li > a:focus .text-danger,
#barra .dropdown-submenu:hover > a,
#barra .dropdown-submenu:focus > a {
  background-color: #1abc9c !important;
  color: #ffffff !important;
}
div#menu ul > li.active {
  background-color: rgba(0, 0, 0, 0.25);
  border-color: #fdcd38;
}
/*#endregion */
/*#region Loader & Modal. */
div#loader,
#dialog-box-mask {
  background-color: #34495e !important;
}
.modal-backdrop {
  background-color: #000000;
}
/*#endregion */
/*#region Helpers. */
.text-primary {
  color: #34495e;
}
/*#endregion */
/*#region BootGrid. */
.bootgrid-header .actionBar .btn-group > .btn-group .dropdown-menu .dropdown-item:hover,
.bootgrid-footer .infoBar .btn-group > .btn-group .dropdown-menu .dropdown-item:hover,
.bootgrid-header .actionBar .btn-group > .btn-group .dropdown-menu .dropdown-item:focus,
.bootgrid-footer .infoBar .btn-group > .btn-group .dropdown-menu .dropdown-item:focus {
  background-color: #1abc9c !important;
  color: #ffffff !important;
}
.bootgrid-header .actionBar .btn-group > .btn-group .dropdown-menu li.active > .dropdown-item,
.bootgrid-footer .infoBar .btn-group > .btn-group .dropdown-menu li.active > .dropdown-item,
.bootgrid-header .actionBar .btn-group > .btn-group .dropdown-menu li.active > .dropdown-item,
.bootgrid-footer .infoBar .btn-group > .btn-group .dropdown-menu li.active > .dropdown-item {
  background-color: #34495e !important;
  color: #ffffff !important;
}
/*#endregion */
/*#region AutoComplete. */
.autocomplete-suggestion strong {
  color: #34495e;
}
.autocomplete-suggestion:hover {
  background-color: #34495e;
  color: #ffffff;
}
.autocomplete-selected {
  background-color: #34495e;
  color: #ffffff;
}
/*#endregion */
/*#region JSON Formatter. */
.json-value {
  color: #222f3d;
}
/*#endregion */
/*#region Bootstrap Select. */
.bootstrap-select > .dropdown-menu.open > .dropdown-menu.inner > li > a:hover {
  background-color: #1abc9c;
  color: #ffffff;
}
/*#endregion */
/*#region Selección. */
::selection {
  background-color: #1abc9c;
  color: #ffffff;
}
::-moz-selection {
  background-color: #1abc9c;
  color: #ffffff;
}
/*#endregion */
/*#region DateRangePicker. */
.daterangepicker .ranges li.active {
  background-color: #34495e !important;
  border-color: #2d3f51 !important;
  color: #ffffff !important;
}
.daterangepicker .ranges li:hover {
  background-color: #34495e !important;
  border-color: #2d3f51 !important;
  color: #ffffff !important;
}
.daterangepicker .ranges li {
  color: #34495e !important;
}
.datepicker table tr td.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active:hover,
.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #34495e !important;
  color: #ffffff !important;
}
/*#endregion */
/*#region ScrollBars. */
*::-webkit-scrollbar-track {
  background-color: #b3b3b3 !important;
}
*::-webkit-scrollbar-thumb {
  background-color: #34495e !important;
}
/*#endregion */
/*#region SelectPicker. */
.bootstrap-select li.selected,
.bootstrap-select li.active > a {
  background-color: #34495e;
  color: #ffffff;
}
.bootstrap-select li.selected > a {
  color: #ffffff;
}
/*#endregion */
